<header style="background-image: url('{{ site.baseurl }}/images/photos/2013.jpg');">

	{% include navbar.html %}

	<div class="container">
		<p class="hero">Help bring a modern education to rural Kenya</p>

		<div class="featured-post">
			<a href="/#students">
				<img src="/images/brothers.jpg" alt="brothers">
				<p>Read about Victor and Caleb</p>
			</a>
			<a class="button" href="#donate">Donate</a>
		</div>

		<div class="learn-more">
			<a href="#about">About us<span class="arrow">&#x25BC;</span> /</a>
			<a href="#updates">Updates<span class="arrow">&#x25BC;</span> /</a>
			<a href="#contact">Connect<span class="arrow">&#x25BC;</span></a>
		</div>
	</div>
</header>
