@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400');

html, body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #333;
	min-width: 380px;
}

html {
	background: #000;
}

body {
	background: #fff;
}

h2 {
	margin: 0;
	text-align: center;
}

img {
	border-radius: 5px;
}

// Navigation elements
.banner {
	padding: 10px;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #2980b9;
	font-family: 'Roboto Slab', 'Open Sans', sans-serif;
	.logo {
		height: 2em;
		padding-right: 10px;
	}
	.title {
		color: #2980b9;
		text-decoration: none;
		margin: 0;
		font-size: 1.5em;
		font-weight: 400;
		vertical-align: middle;
	}
}

.nav-links {
	display: flex;
	align-items: center;
	a {
		color: #2980b9;
		text-decoration: none;
		padding: 10px;
		font-size: 1em;
	}
}

p {
	font-size: 1.3em;
	line-height: 1.4em;
}

header {
	background-image: url($baseurl + "/images/photos/2013.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	color: #fff;
	.hero {
		margin-top: 60px;
		font-weight: bold;
		font-size: 2em;
		text-shadow: 1px 1px 1px #000;
		text-align: center;
	}
	.button {
		margin: 20px;
		text-shadow: none;
		font-size: 1.4em;
	}
	.learn-more {
		display: none;
	}
}
.overlay {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 85vh;
}
.featured-post {
	display: block;
	max-width: 600px;
	margin: 0 auto;
	.button {
		display: block;
		margin: 0 auto;
		padding: 5px;
		width: 70px;
		&:hover {
			background: #2980b9;
		}
	}
	a {
		color: white;
		font-size: 16px;
		text-decoration: none;
		text-align: center;
		img {
			display: block;
			margin: 0 auto;
			height: 100px;
			border-radius: 50%;
		}
		p {
			margin: 10px 0;
		}
	}
	@media (max-height: 600px) {
		display: block;
	}
}

section {
	padding-top: 20px;
	// background: whitesmoke;
}

form {
	display: flex;
	flex-wrap: wrap;
	max-width: 500px;
	margin: 0 auto;

	input[type="text"] {
		flex-grow: 1;
	}

	input[type="submit"] {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}

.button a, input[type="submit"], input[type="text"] {
	border: 0;
	padding: 10px;
	box-sizing: content-box;
	font-size: 1em;
	font-weight: 100;
}

.button, input[type="submit"] {
	text-align: center;
	background: #70AAD0;
	color: #fff;
	cursor: pointer;
	font-size: 1.25em;
}

.button {
	padding: 5px;
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;

	&:hover {
	}
}

.join-us {
	text-align: center;
}
// QUESTION Why doesn't iframe resize when it is not selected without .donate/.map?
.donate {
	iframe {
		max-width: 500px;
		min-width: 310px;

	}
}
.map {
	margin: 0 auto;
	max-width: 600px;
	iframe {
		width: 100%;
	}
}
